<tr>
	<td class="title">
		<strong><%= comment.user.email[/[^@]+/].sub('.', ' ').split.map(&:capitalize).join(' ') %></strong>
	</td>
	<td>
		<em><%= simple_format(comment.content) %></em>
	</td>
</tr>