<%= form_for([@chapter, @comment]) do |f| %>
<table class="comment_form">
	<tr>
		<td class="title">Message :</td>
		<td><%= f.text_area :content %></td>
	</tr>
	<tr>
		<td class="title">&nbsp;</td>
		<td><%= f.submit 'Add comment' %></td>
	</tr>
</table>
<% end %>
