<h1>Editing User</h1>

<%= render 'form' %>

<!-- Listening of current user logged tutorials -->
<h3>My Tutorials</h3>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @tutorials.each do |tutorial| %>
		<tr>
			<td><%= link_to tutorial.title, tutorial_chapters_path(tutorial) %></td>
			<td><%= tutorial.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>
