<h1>Editing User</h1>

<%= render 'form' %>

<!-- Listening of current user logged tutorials -->
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @tutorials.each do |tutorial| %>
		<tr>
			<td><%= tutorial.title %></td>
			<td><%= tutorial.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>
