<h1>Editing User</h1>

<table class="user_edit">
	<tr>
		<td>
			<h2>Your account</h2>
			<%= render 'form' %>
		</td>
		<td>
			<h2>Your tutorials</h2>
			<% if not @tutorials.empty? %>
			
				<% @tutorials.each do |tutorial| %>
					<div><%= link_to tutorial.title, tutorial_path(tutorial) %></div>
				<% end %>
			
			<% else %>
			<p>
				Presently you don't have any tutorial.  <br />
				<%= link_to 'Create your first !', new_tutorial_path %>
			</p>
			<% end %>
		</td>
	</tr>
</table>

