<h1>Sign up</h1>

<table class="user_edit">
	<tr>
		<td>
			<h2>Account</h2>
			<%= render 'form' %>
		</td>
		<td>
			<h2>About registration</h2>
			<p><strong>Create an account to :</strong></p>
			Create tutorials about mathematics.<br />
			Add comments to chapter from all tutorials.<br />
			Participate in the community by voting for tutorials.
		</td>
	</tr>
</table>