<% @tutorials.each do |tutorial| %>
	<div class="highlight">
		
		<div class="image">
			<% if not tutorial.image.blank? %>
			<%= image_tag(root_url + tutorial.image) %>
			<% else %>
			&nbsp;
			<% end %>
		</div>
		
		<%= link_to tutorial.title, tutorial_path(tutorial) %>
	</div>
<% end %>