<%= link_to 'New tutorial', new_tutorial_path %>
<table>
	<th>
		<td>Title</td>
		<td>Difficulty</td>
	</th>
	<% @tutorials.each do |tutorial| %>
		<div class="highlight">
			<div class="image"><%= image_tag(root_url + tutorial.image) %></div>
			<%= link_to tutorial.title, tutorial_path(tutorial) %>
		</div>
	<% end %>
</table>
<%= will_paginate @tutorials %>