<div id="logo_hearc">
	<a href="http://ingenierie.he-arc.ch/"><img src="<%= root_url %>images/logo_hearc.png" alt="Logo HE-Arc" /></a>
</div>

<h1>About</h1>

<p>
	Having difficulties with math?<br />
	Can't get what is a theorem purpose?<br />
	<strong>You are in the right place!</strong>
</p>
<p>
	<strong>MATHunter</strong> is a community website where everyone can teach or learn math through multiple tutorials.<br />
	<br />
	It has been developed by Messrs. <strong>Johan Chavaillaz</strong>, <strong>Dany Jupille</strong> and <strong>Matthieu Rossier</strong> with the Ruby on Rails<br />
	framework during the web development course of the HE-Arc Engineering.
</p>

<h2>Credits</h2>

<p>
	<a target="_blank" href="http://jquerypagewalkthrough.github.io/">Jquery Page Walkthrough</a> by <strong>erwinyusrizal</strong>.
</p>