<h1>About</h1>

<p>
	Having difficulties with math?<br />
	Can't get what is a theorem purpose?<br />
	<strong>You are in the right place!</strong>
</p>
<p>
	<strong>MATHunter&copy;</strong> is a community website where everyone can teach or learn math through multiple tutorials.<br />
</p>

<h2>Credits</h2>

<p>
	<a target="_blank" href="http://jquerypagewalkthrough.github.io/">Jquery Page Walkthrough</a> by <strong>erwinyusrizal</strong>.
</p>