@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html, body {
	margin: 0px;
	padding: 90px 0px 130px 0px;
	background-color: #E5E5E5;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

a,
a:active,
a:visited {
	color: #27A0D7;
	text-decoration: none;
}

input[type=text],
input[type=password] {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #333438;
	transition: background-color 0.5s ease, border-color 0.5s ease;
}

input:hover,
input:active {
	border: 1px solid #27A0D7;
}

*:focus {
	outline: 0;
}

img {
	border: none;
}

.website_center {
	width: 1000px;
	margin: 0px auto;
}

header {
	width: 100%;
	border-top: 2px solid #27A0D7;
	background-color: #333438;
	color: #D6D6D6;
	margin-bottom: 20px;
	position: fixed;
	top: 0px;
}

header #website_name {
	color: #D6D6D6;
	font-weight: bold;
	font-size: 2.5em;
	float: left;
	padding: 50px 0px;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0px;
	padding: 0px;
}

header nav ul li {
	float: left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

header nav ul li a {
	color: #D6D6D6;
	padding: 60px 0px;
	display: block;
	width: 126px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
}

header nav ul li a:hover {
	background-image: url('../images/menu_active.png');
	background-repeat: none;
}

section {
	clear: both;
}

div.highlight {
	text-align: center;
	width: 280px;
	padding: 0px 10px;
	min-height: 220px;
	float: left;
	margin: 10px;
	color: #e5e5e5;
	font-size: 32px;
	font-family: 'Open Sans Light';
	
	background: #43aad9; /* Old browsers */
	background: -moz-linear-gradient(top,  #43aad9 0%, #27a0d7 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43aad9), color-stop(99%,#27a0d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #43aad9 0%,#27a0d7 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #43aad9 0%,#27a0d7 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #43aad9 0%,#27a0d7 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #43aad9 0%,#27a0d7 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43aad9', endColorstr='#27a0d7',GradientType=0 ); /* IE6-9 */
}

div.highlight .image {
	padding: 15px;
}

footer {
	background-color: #333438;
	color: #D6D6D6;
	margin-top: 20px;
	padding: 30px 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer span {
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
}

footer a {
	float: right;
}