@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html, body {
	text-align: justify;
	margin: 0px;
	padding: 0px 0px 90px 0px;
	background-color: #E5E5E5;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

a,
a:active,
a:visited {
	color: #27A0D7;
	text-decoration: none;
}

h1 {
	font-size: 4em;
}

input[type=text],
input[type=password],
textarea {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #333438;
	transition: background-color 0.5s ease, border-color 0.5s ease;
}

input[type=submit] {
	padding: 5px 10px;
	background-color: #333438;
	border: 1px solid transparent;
	border-bottom: 3px solid #131418;
	color: #D6D6D6;
	border-radius: 3px;
	transition: background-color 0.5s ease, border-color 0.5s ease;
}

input[type=submit]:hover,
input[type=submit]:active {
	border-bottom: 3px solid #1780B7;
	background-color: #27A0D7;
	color: white;
}

input:hover,
input:active,
textarea:hover,
textarea:active {
	border: 1px solid #27A0D7;
}

*:focus {
	outline: 0;
}

img {
	border: none;
}

#notice,
#alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

#notice {
	background-color: #d9edf7;
	border-color: #31708f;
	color: #31708f;
}

#alert {
	background-color: #f2dede;
	border-color: #a94442;
	color: #a94442;
}

.website_center {
	width: 1000px;
	margin: 0px auto;
}

.signup,
.signup:active,
.signup:visited {
	color: white;
	background-color: #27A0D7;
	border-radius: 10px;
	padding: 20px 40px;
	font-size: 32px;
	font-weight: 300;
    transition: all 0.5s linear;
}

.signup:hover {
	box-shadow: 0 0 15px #27A0D7;
}

.actionlink {
	float: left;
	color: #27A0D7;
	border: 1px solid #27A0D7;
	background-color: #E9F6FB;
	padding: 5px 7px;
	margin-right: 5px;
}

.actionlink img {
	margin-right: 5px;
	float: left;
}

.top-right {
	float: right;
}

header {
	width: 100%;
	border-top: 2px solid #27A0D7;
	background-color: #333438;
	color: #D6D6D6;
	margin-bottom: 20px;
	float: left;
}

header .left_side {
	float: left;
	padding: 50px 0px 0px 0px;
	width: 450px;
}

header #user_detail {
	display: block;
	float: left;
	margin-top: -169px;
	position: relative;
	background-color: #27A0D7;
	color: black;
	border-radius: 0px 0px 5px 5px;
	padding: 5px;
}

header #user_detail a {
	color: white;
	padding-left: 10px;
}

header #website_name {
	color: #D6D6D6;
	font-weight: bold;
	font-size: 2.5em;
}

header img {
	margin-left: -80px;
	margin-top: -50px;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0px;
	padding: 0px;
}

header nav ul li {
	float: left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

header nav ul li a {
	/* color: #D6D6D6; */
	padding: 60px 0px;
	display: block;
	width: 126px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
}

header nav ul li a:hover {
	background-image: url('../images/menu_active.png');
	background-repeat: none;
}

section {
	clear: both;
}

section#content {
	
}

div.highlight {
	text-align: center;
	width: 280px;
	padding: 0px 16px;
	min-height: 220px;
	float: left;
	margin: 10px;
	color: #e5e5e5;
	font-size: 32px;
	font-weight: 300;
	
	background: #43aad9; /* Old browsers */
	background: -moz-linear-gradient(top,  #43aad9 0%, #27a0d7 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43aad9), color-stop(99%,#27a0d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #43aad9 0%,#27a0d7 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #43aad9 0%,#27a0d7 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #43aad9 0%,#27a0d7 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #43aad9 0%,#27a0d7 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43aad9', endColorstr='#27a0d7',GradientType=0 ); /* IE6-9 */
	
    transition: all 0.5s linear;
}

div.highlight:hover {
	box-shadow: 0 0 15px #27A0D7;
}

div.highlight .image {
	padding: 15px;
}

div.highlight a {
	color: white;
}

table {
	clear: both;
}

table.user_edit {
	width: 100%;
}

table.user_edit td {
	width: 50%;
	text-align: center;
}

table td.chapter {
	font-weight: bold;
	font-size: 3em;
	color: white;
	padding: 10px 30px;
	border: 1px solid #43aad9;
	background-color: #43aad9;
}

.tutorial_image {
	float: left;
	margin-right: 20px;
}

#search-form {
	background-color: #D6D6D6;
	border-radius: 5px;
	padding: 12px;
	margin-bottom: 10px;
}

#chapter_form .title input {
	width: 988px;
}

#tutorial_form {
	width: 100%;
}

#tutorial_form .information {
	width: 250px;
	padding-right: 20px;
}

#tutorial_form input {
	width: 230px;
}

#tutorial_form .description textarea {
	width: 720px;
	height: 130px;
}

#tutorial {
	padding: 20px 10px;
	overflow: auto;
}

#tutorial .content {
	min-height: 400px;
	margin: 0 0 0 125px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #43aad9;
}

#tutorial .content * {
	overflow: hidden;
}

.tab {
	float: left;
	width: 126px;
}

.tab ul {
	list-style: none;
	text-align: center;
	padding-left: 0px;
}

.tab ul li {
	border-top: 1px solid #666;
	border-right: 1px solid #43aad9;
	border-bottom: 1px solid #666;
	border-left: 6px solid #666;
	background-color: #ddd;
	margin: 8px 0;
	overflow: hidden;
} 

.tab ul li a,
.tab ul li a:visited {
	text-decoration: none;
	color: #666;
	display: block;
	padding: 15px 5px;
}

.tab ul li:hover {
	border-left: 6px solid #333;
}

.tab ul li a:hover {
	color: #000;
}

.tab ul li.selected {
	border-right: none;
	background-color: #fff;
	border-left: 6px solid #43aad9;
	border-color: #43aad9;
}

table.comment_list {
	width: 100%;
}

table.comment_list td {
	vertical-align: top;
}

table.comment_list td.title {
	width: 126px;
} 

table.comment_form {
	width: 100%;
}

table.comment_form .title {
	width: 126px;
}

table.comment_form textarea {
	width: 845px;
	height: 100px;
}

footer {
	background-color: #333438;
	color: #D6D6D6;
	padding: 20px 0px;
	bottom: 0px;
	width: 100%;
	position: fixed;
	clear: both;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

footer span {
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
}

footer a {
	float: right;
}